python-more_data_structures/prueba.py
python-classes/__pycache__/0-square.cpython-310.pyc
python-classes/__pycache__/1-square.cpython-310.pyc
python-classes/1-main.py
python-classes/__pycache__/2-square.cpython-310.pyc
python-classes/2-main.py
python-classes/3-main.py
python-classes/__pycache__/3-square.cpython-310.pyc
python-classes/4-main.py
python-classes/__pycache__/4-square.cpython-310.pyc
python-classes/5-main.py
python-classes/__pycache__/5-square.cpython-310.pyc
python-classes/6-main.py
python-classes/__pycache__/6-square.cpython-310.pyc
python-classes/6-square.py
python-classes/6-mainb.by
python-classes/6-mainb.by
python_practice/sys_copy. py
python_practice/example.py
python_practice/__pycache__/example.cpython-38.pyc
python-test_driven_development/0-main.py
python-import_modules/add_0.py
python-test_driven_development/__pycache__/0-add_integer.cpython-38.pyc
python-test_driven_development/__pycache__/0-add_integer.cpython-310.pyc
python-test_driven_development/2-main.py
python-test_driven_development/__pycache__/2-matrix_divided.cpython-38.pyc
python-test_driven_development/__pycache__/2-matrix_divided.cpython-310.pyc
python-test_driven_development/3-main.py
python-test_driven_development/__pycache__/3-say_my_name.cpython-38.pyc
python-test_driven_development/__pycache__/3-say_my_name.cpython-310.pyc
