python-more_data_structures/prueba.py
python-classes/__pycache__/0-square.cpython-310.pyc
python-classes/__pycache__/1-square.cpython-310.pyc
python-classes/1-main.py
python-classes/__pycache__/2-square.cpython-310.pyc
python-classes/2-main.py
python-classes/3-main.py
python-classes/__pycache__/3-square.cpython-310.pyc
