python-more_data_structures/prueba.py
python-classes/__pycache__/0-square.cpython-310.pyc
python-classes/__pycache__/1-square.cpython-310.pyc
python-classes/1-main.py
python-classes/__pycache__/2-square.cpython-310.pyc
python-classes/2-main.py
python-classes/3-main.py
python-classes/__pycache__/3-square.cpython-310.pyc
python-classes/4-main.py
python-classes/__pycache__/4-square.cpython-310.pyc
python-classes/5-main.py
python-classes/__pycache__/5-square.cpython-310.pyc
python-classes/6-main.py
python-classes/__pycache__/6-square.cpython-310.pyc
python-classes/6-square.py
python-classes/6-mainb.by
python-classes/6-mainb.by
python_practice/sys_copy. py
python_practice/example.py
python_practice/__pycache__/example.cpython-38.pyc
python-test_driven_development/0-main.py
python-import_modules/add_0.py
python-test_driven_development/__pycache__/0-add_integer.cpython-38.pyc
python-test_driven_development/__pycache__/0-add_integer.cpython-310.pyc
python-test_driven_development/2-main.py
python-test_driven_development/__pycache__/2-matrix_divided.cpython-38.pyc
python-test_driven_development/__pycache__/2-matrix_divided.cpython-310.pyc
python-test_driven_development/3-main.py
python-test_driven_development/__pycache__/3-say_my_name.cpython-38.pyc
python-test_driven_development/__pycache__/3-say_my_name.cpython-310.pyc
python-test_driven_development/4-main.py
python-test_driven_development/__pycache__/4-print_square.cpython-38.pyc
python-test_driven_development/__pycache__/4-print_square.cpython-310.pyc
python-test_driven_development/__pycache__/5-text_indentation.cpython-310.pyc
python-test_driven_development/__pycache__/5-text_indentation.cpython-38.pyc
python-test_driven_development/5-main.py
python-test_driven_development/6-main.py
python-test_driven_development/6-max_integer.py
python-test_driven_development/__pycache__/6-max_integer.cpython-38.pyc
python-test_driven_development/__pycache__/6-max_integer.cpython-310.pyc
python-test_driven_development/tests/__pycache__/6-max_integer_test.cpython-38.pyc
python_practice/example5.py
python_practice/example4.py
python_practice/example3.py
python_practice/example2.py
python-more_classes/0-main.py
python-more_classes/__pycache__/0-rectangle.cpython-310.pyc
python-more_classes/1-main.py
python-more_classes/__pycache__/1-rectangle.cpython-310.pyc
python-more_classes/2-main.py
python-more_classes/__pycache__/2-rectangle.cpython-310.pyc
python-more_classes/3-main.py
python-more_classes/__pycache__/3-rectangle.cpython-310.pyc
python-more_classes/4-main.py
python-more_classes/__pycache__/4-rectangle.cpython-310.pyc
python-more_classes/5-main.py
python-more_classes/__pycache__/5-rectangle.cpython-310.pyc
python-more_classes/6-main.py
python-more_classes/__pycache__/6-rectangle.cpython-310.pyc
python-more_classes/__pycache__/7-rectangle.cpython-310.pyc
python-more_classes/7-main.py
python_practice/champion_challenge.py
python-more_classes/8-main.py
python-more_classes/__pycache__/8-rectangle.cpython-310.pyc
python-more_classes/9-main.py
python-more_classes/__pycache__/9-rectangle.cpython-310.pyc
python-everything_is_object/19-main.py
python-everything_is_object/__pycache__/19-copy_list.cpython-310.pyc
python-import_modules/19-main.py
python-inheritance/2-main.py
python-inheritance/3-main.py
python-inheritance/4-main.py
python-inheritance/6-main.py
python-inheritance/5-main.py
python-inheritance/7-main.py
python-inheritance/__pycache__/7-base_geometry.cpython-38.pyc
python-inheritance/8-main.py
python-inheritance/__pycache__/7-base_geometry.cpython-310.pyc
python-inheritance/__pycache__/8-rectangle.cpython-310.pyc
python-inheritance/9-main.py
python-inheritance/__pycache__/9-rectangle.cpython-310.pyc
python-inheritance/11-main.py
python-input_output/0-main.py
python-input_output/add_item.json
python-input_output/file_append.txt
python-input_output/my_fake.json
python-input_output/my_file_0.txt
python-input_output/my_first_file.txt
python-input_output/__pycache__/0-read_file.cpython-310.pyc
python-input_output/1-main.py
python-input_output/2-main.py
python-input_output/3-main.py
python-input_output/4-main.py
python-input_output/5-main.py
python-input_output/6-main.py
python_practice/champ2.py
python-input_output/__pycache__/5-save_to_json_file.cpython-38.pyc
python-input_output/__pycache__/5-save_to_json_file.cpython-310.pyc
python-input_output/__pycache__/6-load_from_json_file.cpython-310.pyc
python-input_output/__pycache__/6-load_from_json_file.cpython-38.pyc
add_item.json
python-input_output/8-main.py
python-input_output/9-main.py
python-input_output/10-main.py
python-input_output/11-main.py
python-input_output/12-main.py
python-input_output/__pycache__/12-pascal_triangle.cpython-310.pyc
python-almost_a_circle/0-main.py
python-almost_a_circle/models/__pycache__/__init__.cpython-310.pyc
python-almost_a_circle/models/__pycache__/base.cpython-310.pyc
python-almost_a_circle/1-main.py
python-almost_a_circle/2-main.py
python-almost_a_circle/3-main.py
python-almost_a_circle/4-main.py
python-almost_a_circle/5-main.py
python-almost_a_circle/6-main.py
python-almost_a_circle/7-main.py
python-almost_a_circle/8-main.py
python-almost_a_circle/9-main.py
python-almost_a_circle/10-main.py
python-almost_a_circle/11-main.py
python-almost_a_circle/12-main.py
python-almost_a_circle/13-main.py
python-almost_a_circle/14-main.py
python-almost_a_circle/15-main.py
python-almost_a_circle/16-main.py
python-almost_a_circle/17-main.py
python-almost_a_circle/18-main.py
python-almost_a_circle/models/__pycache__/rectangle.cpython-310.pyc
python-almost_a_circle/models/__pycache__/square.cpython-310.pyc
python-almost_a_circle/models/__pycache__/__init__.cpython-38.pyc
python-almost_a_circle/models/__pycache__/rectangle.cpython-38.pyc
python-almost_a_circle/models/__pycache__/base.cpython-38.pyc
python-almost_a_circle/tests/__pycache__/test_base.cpython-38.pyc
python-almost_a_circle/tests/__pycache__/test_rectangle.cpython-38.pyc
python-almost_a_circle/models/__pycache__/square.cpython-38.pyc
python-almost_a_circle/tests/__pycache__/test_square.cpython-38.pyc
python-almost_a_circle/tests/__pycache__/test_rectangle.cpython-38.pyc
python-almost_a_circle/tests/__pycache__/test_rectangle.cpython-38.pyc
python-almost_a_circle/Square.json
python-almost_a_circle/Rectangle.json
python-almost_a_circle/tests/__pycache__/test_rectangle.cpython-38.pyc
python_practice/repaso.py
python_practice/repaso_remove_list.py
SQL_introduction/temperatures.sql
python-object_relational_mapping/0-select_states.sql
python-object_relational_mapping/4-cities_by_state.sql
python-object_relational_mapping/6-model_state.sql
python-object_relational_mapping/__pycache__/model_state.cpython-38.pyc
python-object_relational_mapping/sys
python-object_relational_mapping/7-model_state_fetch_all.sql
python-object_relational_mapping/6-model_state.py
